@model IEnumerable<CustomFormsApp.Models.Template>
@{
    ViewData["Title"] = "Template List";
}
<h2>Templates</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Topic</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model)
        {
            <tr>
                <td>@template.Title</td>
                <td>@template.Topic</td>
                <td>@template.Tags</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@template.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@template.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
